* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 125px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-right-links {
    display: flex;
    gap: 23px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #B3B7BE;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px 125px 125px 125px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 44%;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sec-text {
    font-size: 18px;
    color: #B3B7BE;
}

button {
    width: 125px;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882f6;
    font-weight: bold;
    border: none;
}

.hero-right {
    background-color: #6D747D;
    color: #E5E7EB;
    flex: 1;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 246px 100px 246px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info p {
    color: #56606D;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.quote-box {
    background-color: #E5E7EB;
    padding: 125px 220px;
}

.quote {
    font-size: 36px;
    color: #27303E;
    font-weight: 300;
    font-style: italic;
}

.quote-box p {
    text-align: right;
    font-weight: 900;
    font-size: 24px;
}

.action {
    padding: 100px 125px;
}

.action-box {
    display: flex;
    flex: 1;
    background-color: #3882f6;
    padding: 50px 110px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.action-left h3{
    font-size: 24px;
    color: #F9FAF8;
}

.action-left p {
    color: #E5E7EB;
}

.sign-up {
    border: 2px solid #F9FAF8;
    padding: 5px 10px;
    border-radius: 7px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 18px;
}